<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Django CRUD Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'tasks' %}" class="nav-link active">Tasks</a></li>
            <li class="nav-item"><a href="{% url 'tasks_completed' %}" class="nav-link active">Completed tasks</a></li>
            <li class="nav-item"><a href="/tasks/create" class="nav-link active">Create task</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link active">Log Out</a></li>
            {% else %}
            <li class="nav-item"><a href="/signup" class="nav-link active">Sign Up</a></li>
            {% endif %}
            <li class="nav-item"><a href="/signin" class="nav-link active">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>


    {% block content %}
    {% endblock content %}
</body>
</html>