{% extends 'base.html' %}


{% block content %} 
<main class='container py-5'>
    <section class='card card-body'>
    <h1 class='display-1 text-center'>Django App</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias culpa dicta temporibus perspiciatis aspernatur, consectetur, cum corporis debitis eos magni officiis fugit omnis assumenda maxime architecto eum veritatis qui commodi consequuntur! Cumque eius labore dolorem in pariatur iusto harum autem esse illum voluptatibus laboriosam aliquam, eveniet ullam molestiae a. Natus suscipit beatae minus harum dolore atque voluptatem incidunt eum tempore vitae, ab ullam molestiae assumenda. Iste, ipsum blanditiis inventore et molestiae cum reiciendis ea illum perspiciatis perferendis eaque veritatis voluptates laborum accusantium? Ducimus, fugit adipisci ab delectus repudiandae perspiciatis architecto aliquam, fugiat nulla perferendis explicabo corporis voluptate sapiente vitae odio.</p>
<div class='text-center'>
    <a class='btn btn-secondary' href='/signin'>Sign in</a>
<a class='btn btn-dark' href='/signup'>Sign Up</a>
</div>
</section>
</main>
{% endblock content %}